@CHARSET "UTF-8";
body{
	background-color:rgba(214, 214, 214, 0.22);
}

.west {
	float: left;
	width: 20%;
	height: 545px;
	/* #aba9a9 */
	border-right: 1px solid rgba(218, 216, 216, 0.76);
	border-bottom: 2px solid rgba(218, 216, 216, 0.76);
	border-radius: 5px;
	box-sizing: border-box;
}

.west li {
	height: 46px;
	border-radius: 8px;
	margin: 1px 5px;
}

.west a {
	display: block;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	padding: 15px 0 15px 20px;
	color:#574464;
}

.west li:hover {
	background-color: rgba(218, 216, 218, 0.41);
}

.west a:active {
	color: #574464;
}

/*侧栏结束*/
.center {
	float: right;
	width: 80%;
	height: 545px;
	border-left: 1px solid rgba(218, 216, 216, 0.76);
	border-bottom: 2px solid rgba(218, 216, 216, 0.76);
	border-radius: 5px;
	box-sizing: border-box;
	
	
}

.tab {
	/*height: 500px;*/
}
.tab ul{
	width:100%;
}
.tab li {
	height: 40px;
	/* border-left: 2px solid #aba9a9; */
	border-bottom: 1px solid rgba(218, 216, 216, 0.76);
	border-right: 1px solid rgba(218, 216, 216, 0.76);
	border-radius: 8px;
	list-style-type: none;
	
}

.tab a {
	display: block;
	font-size: 16px;
	font-weight: bold;
    color: rgba(99, 90, 132, 0.8);
	height: 35px;
	width: 250px;
	text-decoration: none;
	padding-top: 6px;
	text-align: center;
	margin-top: 2px;
	margin-left: 2px;
	border-top: 1px solid rgba(218, 216, 216, 0.76);
	border-left: 1px solid rgba(218, 216, 216, 0.76);
	border-right: 1px solid rgba(218, 216, 216, 0.76);
	border-radius: 8px;
	background-color: rgba(245, 243, 243, 0.76); 
}

.tab a:active {
	color: #574464;
}


.container {
	height: 330px;
	width: 600px;
	margin: 10px auto;
}

.remark {
	border-top: 1px solid rgba(218, 216, 216, 0.76);
	margin-top: 20px;
	padding: 20px;
	/* padding-right: 10px; */
}
/*内容栏结束*/